<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Complete</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.subject %></td>
        <td><%= task.description %></td>
        <td><%= task.StartDate %></td>
        <td><%= task.EndDate %></td>
        <td><%= task.complete %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
